<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome <span *ngIf="loggedIn()">{{currentUser.name}}!</span></h1>
        <div class="row center">
            <h5 class="header col s12 light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, dolor a aliquam ultrices, turpis nisl maximus justo, nec semper augue dolor vitae orci. Curabitur egestas posuere mauris. Quisque varius erat ac pharetra posuere.
            </h5>
        </div>
        <div class="row center">
            <a [routerLink]="['/categories']" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>
