<div class="row">
    <div class="col s12 m12 l8" style="margin-left: 16%;">
        <ul id="projects-collection" class="collection z-depth-1">
            <li class="collection-item avatar item-list item-list-head-icon">
                <i class="material-icons green lighten-2 circle">event_note</i>
                <h6 class="item-list-header green-text text-lighten-2">Categories</h6>

                <div class="item-list-actions">
                    <a (click)="presentAuthDialog('addItem')" class="waves-effect waves-light btn right green lighten-2"><i class="material-icons right">add</i>Add Item</a>

                    <!-- <a (click)="presentAuthDialog('addCategory')" class="waves-effect waves-light btn right green lighten-2"><i class="material-icons right">add</i>Add Category</a> -->
                </div>
            </li>
            <li class="collection-item item-list">
                <div class="col s5">
                    <p class="collections-title bold teal-text text-darken-4">Name</p>
                </div>
                <div class="col s4">
                    <p class="collections-title bold teal-text text-darken-4">Category</p>
                </div>
                <div class="col s3">
                    <p class="collections-title right bold teal-text text-darken-4">Actions</p>
                </div>
            </li>
            <li *ngFor="let item of items" class="collection-item item-list">
                <div class="col s5">
                    <p class="collections-title">{{item.name}}</p>
                </div>
                <div class="col s4">
                    <p class="collections-title">{{item.category.name}}</p>
                </div>
                <div class="col s3">
                    <p class="collections-title">
                        <a class="secondary-content" (click)="presentAuthDialog('editItem', item)"><i class="material-icons">mode_edit</i></a>
						<a class="secondary-content" (click)="deleteItem(item)"><i class="material-icons right">mode_delete</i></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-modal-dialog #modalDialog></app-modal-dialog>


<!-- <div class="row">
	<div class="col l8 s12 offset-l2">
		<a (click)="presentAuthDialog('addItem')" class="waves-effect waves-light btn item-add"><i class="material-icons left">add</i>Add Item</a>
	</div>
	<div class="col l8 s12 offset-l2">
		<table class="bordered highlight responsive-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th class="right item-action-head">Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="items">
				<tr *ngFor="let item of items">
					<td>{{item.name}}</td>
					<td>{{item.category.name}}</td>
					<td class="right item-actions">
						<a class="secondary-content" (click)="presentAuthDialog('editItem', item)"><i class="material-icons">mode_edit</i></a>
						<a class="secondary-content" (click)="deleteItem(item)"><i class="material-icons right">mode_delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<app-modal-dialog #modalDialog></app-modal-dialog> -->
