<nav class="teal lighten-5" role="navigation">

    <div class="nav-wrapper container black-text">
        <a [routerLink]="['']" id="logo-container" class="brand-logo black-text">Logo</a>

        <ul class="right hide-on-med-and-down">
            <li> <a *ngIf="!loggedIn()" (click)="presentAuthDialog()" class="black-text">LOGIN</a></li>
            <li> <a *ngIf="!loggedIn()" (click)="presentAuthDialog('register')" class="black-text">REGISTER</a></li>

            <li> <a *ngIf="loggedIn()" [routerLink]="['/categories']" class="black-text">CATEGORIES</a></li>
            <!-- <li> <a *ngIf="loggedIn()" [routerLink]="['/items']" class="black-text">ITEMS</a></li> -->
            <li> <a *ngIf="loggedIn()" [routerLink]="['/profile']" class="black-text">PROFILE</a></li>
            <li> <a *ngIf="loggedIn()" (click)="logout()" class="black-text">LOGOUT</a></li>
        </ul>
    </div>

</nav>

<app-auth-dialog #authDialog></app-auth-dialog>
